<div class="display">
    <img src="../images/profile.jpg" alt="Profile picture" class="center-image"/>
    <div class="center"> 
        Software Engineer with experience using Java and PHP to build back end enterprise web services seeking full time position with an innovative team where I can learn and grow as an engineer. Capable of building clean and efficient data models for both relational databases and document databases. Solid understanding of using agile methods in a fast-paced startup environment.
    </div>
</div> 