<nav class="navbar navbar-fixed-top navbar-inverse bg-inverse">
        <div class="">
            <a class="navbar-brand">Travis Henrichs</a>
            <ul class="nav navbar-nav" routerLinkActive="active">
                <li class="nav-item"><a class="nav-link" routerLink="Home">Home</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="About">About</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="Technologies">Technologies</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="Education">Education</a></li>
                <li class="nav-item"><a class="nav-link" routerLink="Contact">Contact</a></li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>