h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

html {
    background-color: lightgray;
}

.display {
  margin-top: 4em;
  margin-left: initial;
  background-color: lightgray
}

.sprite-Address {
  width: 50px;
  height: 50px;
  background-position: -5px -5px;
}

.sprite-Database {
  width: 50px;
  height: 50px;
  background-position: -65px -5px;
}

.sprite-Email {
  width: 50px;
  height: 50px;
  background-position: -5px -65px;
}

.sprite-Address {
  width: 50px;
  height: 50px;
  background-position: -65px -65px;
}

.sprite-Mail {
  width: 50px;
  height: 50px;
  background-position: -125px -5px;
}

.sprite-Phone {
  width: 50px;
  height: 50px;
  background-position: -125px -65px;
}

.sprite-Resume {
  width: 50px;
  height: 50px;
  background-position: -5px -125px;
}

.center {
  width: 35%;
  margin-left: 25%;
  margin-top: 5%; 
}

.center-image {
  margin-left: 38%;
}